.gradle
*.sw?
.#*
*#
*~
.classpath
.project
.settings
.idea
*.iml
bin
build
target
.springBeans
tmp*
initializer-service/spring
grapes
spring.zip
repository/
*.jar
*.jar.orig
*.jar.original
.idea
*.iml
