<!DOCTYPE html>
<html data-rave-meta="package.json">
<head lang="en">
    <meta charset="UTF-8"/>
    <script async src="boot.js"></script>
    <title>Spring Boot + RaveJS</title>
</head>
<body>

    <h1>Greetings from Spring Boot + RaveJS!</h1>

    <p>
        Check out the JavaScript console in your browser to see Rave's REPL.

        <ul>
            <li>
                Check out <a href="http://projects.spring.io/spring-boot" target="_blank">Spring Boot's</a> official site
            </li>
            <li>
                Read <a href="http://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/" target="_blank">
                Spring Boot's current reference documentation</a>
            </li>
            <li>
                Flip through the <a href="http://www.slideshare.net/SpringCentral/rave-js-springone-2gx-2014-41117770"
                                    target="_blank">
                Introduction to RaveJS</a> deck
            </li>
            <li>
                <a href="http://know.cujojs.com/tutorials/modules/authoring-cjs-modules" target="_blank">
                    Learn more about authoring CommonJS modules</a>
            </li>
        </ul>

        When you need to install JavaScript packages, just do this:

        <ol>
            <li><code>cd src/main/resources/static</code></li>
            <li><code>npm install --save <i>module</i></code></li>
            <li>Inside your JavaScript, just add <code>require(<i>module</i>)</code> when needed</li>
            <li>Restart your app. RaveJS automatically loads it for you!</li>
        </ol>
    </p>

    <p>
        Share and enjoy!
    </p>

    <footer>--the <a href="http://github.com/ravejs" target="_blank">RaveJS team</a></footer>

</body>
</html>