body, h1, h2, h3 {
    font-weight: 400;
    font-family: "Varela Round", sans-serif;
}

.start-header {
    color: #eee;
    background-color: #34302d;
    height: auto;
    padding: 0.8em 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    font-size: 25px;
    text-align: center;
}

.start-header select {
    font-size: 18px;
}

.start-header .help-block {
    font-size: 0.6em;
}

button kbd {
    background: none;
    margin-left: 0.5em;
    box-shadow: none;
}

.start-header button {
    margin-top: 1em;
}

@media (min-width: 992px) {
    .start-header button {
        margin-top: 0;
    }
}

.start-main {
    margin-top: 270px;
}

@media (min-width: 768px) {
    .start-main {
        margin-top: 160px;
    }
}

@media (min-width: 992px) {
    .start-main {
        margin-top: 110px;
    }
}

input[type=text] {
    font-family: monospace;
    background-color: #fafafa;
}

.tag {
    background-color: #6db33f;
    color: #fff;
    font-weight: 700;
    border-radius: .25em;
    display: inline-block;
    padding: 0.4em 0.7em;
    margin: 0.2em;
}

.tag .close {
    float: none;
    margin-left: 0.2em;
}

/* autocomplete */

#autocomplete, .twitter-typeahead, .tt-hint {
    width: 100%;
}

.tt-query {
    width: 550px;
}

.tt-query,
.tt-hint {
    height: 34px;
    padding: 8px 12px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

#autocomplete:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 550px;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}