### Docker Compose support

This project contains a Docker Compose file.

In this file, the following services have been defined:

{{serviceTable}}

Please review the tags of the used images and set them to the same as you're running in production.
