### Docker Compose support
This project contains a Docker Compose file named `compose.yaml`.
{{#services.size}}
In this file, the following services have been defined:

{{#services}}
* {{name}}: [`{{image}}:{{imageTag}}`]({{imageWebsite}})
{{/services}}

Please review the tags of the used images and set them to the same as you're running in production.
{{/services.size}}{{^services}}
However, no services were found. As of now, the application won't start!

Please make sure to add at least one service in the `compose.yaml` file.
{{/services}}