package ${packageName}

import org.junit.Test
import org.junit.runner.RunWith
${testImports}<% if (newTestInfrastructure) { %>
@RunWith(SpringRunner)
@SpringBootTest<% } else { %>
@RunWith(SpringJUnit4ClassRunner)
@SpringApplicationConfiguration(classes = ${applicationName})<% } %>
${testAnnotations}class ${applicationName}Tests {

	@Test
	void contextLoads() {
	}

}
