<!DOCTYPE html>
<html lang="en">
<head>
    <title>Azure Spring Cloud Playground</title>
    <link href="//fonts.googleapis.com/css?family=Varela+Round|Montserrat:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{#linkTo}}/css/bootstrap.min.css{{/linkTo}}"/>
    <link rel="stylesheet" href="{{#linkTo}}/css/bootstrap-theme.min.css{{/linkTo}}"/>
    <link rel="stylesheet" href="{{#linkTo}}/css/spring.css{{/linkTo}}"/>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#trackingCode}}
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KZM7GF6');</script>
    {{/trackingCode}}
</head>
<body>
<form id="form" action="/starter.zip" method="get" role="form">
    <div class="container-fluid">
        <div class="row start-header">
            <div class="container">
                <h1>Azure Spring Cloud Playground <small>generate your Spring Cloud application</small></h1>
            </div>
        </div>
        <div class="container start-main">
            <input id="baseDir" name="baseDir" type="hidden" value="{{artifactId.content}}">

            <div class="row">
                <h2>Project Metadata</h2>
                <p>Artifact coordinates</p>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group groupid-form-group">
                        <label for="groupId" class="control-label">{{groupId.title}}</label>
                        <input tabindex="4" id="groupId" class="form-control" type="text" value="{{groupId.content}}"
                               name="groupId">
                    </div>
                    <div class="form-group artifactid-form-group">
                        <label for="artifactId" class="control-label">{{artifactId.title}}</label>
                        <input tabindex="5" id="artifactId" class="form-control" type="text"
                               value="{{artifactId.content}}"
                               name="artifactId">
                    </div>
                    <div class="form-group full hidden name-form-group">
                        <label for="name" class="control-label">{{name.title}}</label>
                        <input tabindex="6" id="name" class="form-control" type="text" value="{{name.content}}"
                               name="name">
                    </div>
                    <div class="form-group full hidden description-form-group">
                        <label for="description" class="control-label">{{description.title}}</label>
                        <input tabindex="7" id="description" class="form-control" type="text"
                               value="{{description.content}}" name="description">
                    </div>
                    <div class="form-group full hidden packagename-form-group">
                        <label for="packageName" class="control-label">{{packageName.title}}</label>
                        <input tabindex="8" id="packageName" class="form-control" type="text"
                               value="{{packageName.content}}"
                               name="packageName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="dependencies" class="full">
                    {{#dependencies.content}}
                    <div class="form-group col-sm-6">
                        <h3>{{name}}</h3>
                        {{#content}}
                        <div class="checkbox" data-range="{{#versionRange}}{{versionRange}}{{/versionRange}}">
                            <label>
                                <input tabindex="13" type="checkbox" name="style" value="{{id}}">{{name}}
                                <p class="help-block">{{#description}}{{.}}{{/description}}</p>
                                {{#versionRequirement}}
                                <p class="help-block version-requirement">requires Spring Boot {{.}}</p>
                                {{/versionRequirement}}
                            </label>
                        </div>
                        {{/content}}
                    </div>
                   {{/dependencies.content}}
                </div>
            </div>
            <div class="row">
                <p class="text-center">
                    <button tabindex="12" name="generate-project" type="submit" class="btn btn-lg btn-primary"
                            role="button">
                        Generate Project
                    </button>
                </p>
            </div>
        </div>
    </div>
</form>
<script src="{{#linkTo}}/js/jquery-3.1.1.min.js{{/linkTo}}"></script>
<script src="{{#linkTo}}/js/typeahead.bundle.min.js{{/linkTo}}"></script>
<script src="{{#linkTo}}/js/mousetrap.min.js{{/linkTo}}"></script>
<script src="{{#linkTo}}/js/start.js{{/linkTo}}"></script>
</body>
</html>
