<!DOCTYPE html>
<html>
  <head>
    <title>Spring Initializr</title>
    <link rel="stylesheet"
      href="/css/bootstrap.min.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png"/>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand"
              href="https://spring.io">
              Spring
          </a>
          <ul class="nav">
            <li>
              <a href="/">
                Projects
              </a>
            </li>
            <li>
              <a href="/spring.zip">
                Download
              </a>
            </li>
            <li>
              <a href="/install.sh">
                Installer
              </a>
            </li>
          </ul>
        </div>
      </div>
      <h1>Spring Initializr</h1>
      <div>
        <form id="form" action="/starter.zip" method="get">
          <label for="groupId">Group:</label> <input id="groupId" type="text" value="org.demo" name="groupId"/>
          <label for="artifactId">Artifact:</label> <input id="artifactId" type="text" value="demo" name="artifactId"/>
          <label for="name">Name:</label> <input id="name" type="text" value="demo" name="name"/>
          <label for="name">Description:</label> <input id="description" type="text" value="Demo project" name="description"/>
          <label for="packageName">Package Name:</label> <input id="packageName" type="text" value="demo" name="packageName"/>
          <label>Styles:</label>
          <% styles.each { %>
            <label class="checkbox">
              <input type="checkbox" name="style" value="${it.value}"/>
              ${it.name}
            </label><% } %>
          <label>Type:</label>
          <% types.each { %>
            <label class="radio">
              <input type="radio" name="type" value="${it.value}"${it.selected ? ' checked="true"' : ''} onclick="javascript:this.form.action='/${it.value}'"/>
              ${it.name}
            </label><% } %>
          <button type="submit" class="btn">Generate</button>
        </form>
      </div>
    </div>
  </body>
</html>
