<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spring Initializr</title>
    <link href="//fonts.googleapis.com/css?family=Varela+Round|Montserrat:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/spring.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="start-header">
            <div class="container">
                <h1>Spring Initializr</h1>

                <p>Bootstrap your application now</p>
            </div>
            <a href="https://github.com/spring-io/initializr" target="_blank">
                <img style="position: absolute; top: 0; right: 0; border: 0;"
                     src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67"
                     alt="Fork me on GitHub"
                     data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png">
            </a>
        </div>
    </div>
    <div class="container">
        <form id="form" action="/starter.zip" method="get" role="form">
            <input id="baseDir" name="baseDir" type="hidden" value="${artifactId.content}">

            <div class="row baseline form-inline">
                <div class="form-group">Generate a
                    <select class="form-control" id="type" name="type">
                        <% types.content.each { %>
                        <option data-action="${it.action}" value="${it.id}" ${it.default==true ?
                        ' selected' : ''}>${it.name}</option>
                        <% } %>
                    </select>
                    with Spring Boot
                    <select class="form-control" name="bootVersion" id="bootVersion">
                        <% bootVersions.content.each { %>
                        <option value="${it.id}" ${it.default==true ?
                        ' selected' : ''}>${it.name}</option>
                        <% } %>
                    </select>
                    and JDK
                    <select class="form-control" name="javaVersion" id="javaVersion">
                        <% javaVersions.content.each { %>
                        <option value="${it.id}" ${it.default==true ?
                        ' selected' : ''}>${it.name}</option>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="row">
                <h2>Project Metadata</h2>

                <p>Artifact coordinates and packaging</p>

                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="groupId" class="control-label">${groupId.title}</label>
                        <input id="groupId" class="form-control" type="text" value="${groupId.content}" name="groupId">
                    </div>
                    <div class="form-group">
                        <label for="artifactId" class="control-label">${artifactId.title}</label>
                        <input id="artifactId" class="form-control" type="text" value="${artifactId.content}"
                               name="artifactId">
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label">${name.title}</label>
                        <input id="name" class="form-control" type="text" value="${name.content}" name="name">
                    </div>
                    <div class="form-group">
                        <label for="description" class="control-label">${description.title}</label>
                        <input id="description" class="form-control" type="text"
                               value="${description.content}" name="description">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="packageName" class="control-label">${packageName.title}</label>
                        <input id="packageName" class="form-control" type="text" value="${packageName.content}"
                               name="packageName">
                    </div>
                    <div class="form-group">
                        <label for="packaging" class="control-label">${packagings.title}</label>
                        <select class="form-control" id="packaging" name="packaging">
                            <% packagings.content.each { %>
                            <option value="${it.id}" ${it.default==true ?
                            ' selected' : ''}>${it.name}</option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="language" class="control-label">${languages.title}</label>
                        <select class="form-control" name="language" id="language">
                            <% languages.content.each { %>
                            <option value="${it.id}" ${it.default==true ?
                            ' selected' : ''}>${it.name}</option>
                            <% } %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <h2>Dependencies</h2>

                <p>Add Spring Boot Starters and dependencies to your application</p>

                <div class="form-group col-md-6 col-sm-12">
                    <div class="form-group">
                        <input id="autocomplete" class="form-control" type="text" placeholder="Search for Starters"
                               name="autocomplete">
                    </div>
                    <div class="message">
                        <div class="alert alert-warning invisible" role="alert">This dependency is not available for the
                            chosen Boot version.
                        </div>
                    </div>
                    <p class="text-center">
                        Or check out <a href="#starters-list">the complete list of dependencies.</a>
                    </p>
                </div>
                <div class="form-group col-md-6 col-sm-12">
                    <div id="starters">
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="text-center">
                    <button name="generate-project" type="submit" class="btn btn-lg btn-primary generate" role="button">
                        <span class="glyphicon glyphicon-download"></span> Generate Project
                    </button>
                </p>
            </div>
            <div class="row">

                <div id="starters-list" class="page-header">
                    <h2>${dependencies.title}</h2>
                </div>

                <div id="dependencies">

                    <% dependencies.content.each { %>
                    <div class="form-group col-sm-6">
                        <h3>${it.name}</h3>
                        <% it.content.each { %>
                        <div class="checkbox" data-range="${it.versionRange}">
                            <label>
                                <input type="checkbox" name="style" value="${it.id}">
                                ${it.name}
                                <p class="help-block">${it.description}</p>
                            </label>
                        </div>
                        <% } %>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="row">
                <p class="text-center">
                    <button name="generate-project" type="submit" class="btn btn-lg btn-primary generate" role="button">
                        <span class="glyphicon glyphicon-download"></span> Generate Project
                    </button>
                </p>
            </div>
        </form>
    </div>
</div>
<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/typeahead.bundle.min.js"></script>
<script src="/js/start.js"></script>
</body>
</html>
