name: Build
on:
  push:
    branches:
      - main
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
jobs:
  build:
    strategy:
      matrix:
        runner:
          - os: ubuntu-latest
            name: Linux
            deploy-snapshots: true
          - os: windows-latest
            name: Windows
            deploy-snapshots: false
          - os: macos-latest
            name: MacOS
            deploy-snapshots: false
    name: Build (${{ matrix.runner.name }})
    if: ${{ github.repository == 'spring-io/initializr' }}
    runs-on: ${{ matrix.runner.os }}
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'liberica'
          cache: 'maven'

      - name: Maven verify
        if: ${{ !matrix.runner.deploy-snapshots }}
        run: ./mvnw --no-transfer-progress --batch-mode --update-snapshots verify

      - name: Maven deploy
        if: ${{ matrix.runner.deploy-snapshots }}
        run: ./mvnw --no-transfer-progress --batch-mode --update-snapshots -DaltDeploymentRepository=local::file:./maven-repo/ deploy

      - name: Deploy to repo.spring.io
        if: ${{ matrix.runner.deploy-snapshots }}
        uses: spring-io/artifactory-deploy-action@26bbe925a75f4f863e1e529e85be2d0093cac116
        with:
          uri: 'https://repo.spring.io'
          username: ${{ secrets.ARTIFACTORY_USERNAME }}
          password: ${{ secrets.ARTIFACTORY_PASSWORD }}
          build-name: ${{ format('initializr-{0}', github.ref_name)}}
          repository: 'libs-snapshot-local'
          folder: './maven-repo/'
          signing-key: ${{ secrets.GPG_PRIVATE_KEY }}
          signing-passphrase: ${{ secrets.GPG_PASSPHRASE }}

      - name: Send notification
        uses: ./.github/actions/send-notification
        if: always()
        with:
          webhook-url: ${{ secrets.GOOGLE_CHAT_WEBHOOK }}
          status: ${{ job.status }}
          run-name: ${{ format('Initializr | {0} | {1}', github.ref_name, matrix.runner.name) }}
