name: Release
permissions:
  contents: read
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
jobs:
  build-and-stage-release:
    if: ${{ github.repository == 'spring-io/initializr' }}
    name: Build and Stage Release
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v6
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'liberica'
          cache: 'maven'
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'liberica'
          cache: 'maven'
      - name: Maven deploy
        run: ./mvnw --no-transfer-progress --batch-mode --update-snapshots -DaltDeploymentRepository=local::file:./maven-repo/ clean deploy -Pfull
      - name: Read version
        id: read-version
        shell: bash
        run: | 
          version=$(sed -n 's/^.*<revision>\(.*\)<\/revision>.*$/\1/p' pom.xml)
          echo "Version is $version"
          echo "version=$version" >> $GITHUB_OUTPUT
      - name: Stage Release
        uses: spring-io/artifactory-deploy-action@926d7f7cc810569395346bf3a4d91b380b3e355b # v0.0.4
        with:
          build-name: ${{ format('initializr-{0}', steps.read-version.outputs.version)}}
          folder: 'maven-repo'
          password: ${{ secrets.ARTIFACTORY_PASSWORD }}
          repository: 'libs-staging-local'
          signing-key: ${{ secrets.GPG_PRIVATE_KEY }}
          signing-passphrase: ${{ secrets.GPG_PASSPHRASE }}
          uri: 'https://repo.spring.io'
          username: ${{ secrets.ARTIFACTORY_USERNAME }}
          artifact-properties: |
            /**/initializr-docs-*.zip::zip.type=docs,zip.deployed=false
    outputs:
      version: ${{ steps.read-version.outputs.version }}
  sync-to-maven-central:
    name: Sync to Maven Central
    needs:
      - build-and-stage-release
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v6
      - name: Sync to Maven Central
        uses: ./.github/actions/sync-to-maven-central
        with:
          jfrog-cli-config-token: ${{ secrets.JF_ARTIFACTORY_SPRING }}
          sonatype-token: ${{ secrets.CENTRAL_TOKEN_PASSWORD }}
          sonatype-token-name: ${{ secrets.CENTRAL_TOKEN_USERNAME }}
          initializr-version: ${{ needs.build-and-stage-release.outputs.version }}
  promote-release:
    name: Promote Release
    needs:
      - build-and-stage-release
      - sync-to-maven-central
    runs-on: ubuntu-latest
    steps:
      - name: Set up JFrog CLI
        uses: jfrog/setup-jfrog-cli@279b1f629f43dd5bc658d8361ac4802a7ef8d2d5 # v4.9.1
        env:
          JF_ENV_SPRING: ${{ secrets.JF_ARTIFACTORY_SPRING }}
      - name: Promote build
        run: jfrog rt build-promote ${{ format('initializr-{0}', needs.build-and-stage-release.outputs.version)}} ${{ github.run_number }} libs-release-local
  create-github-release:
    name: Create GitHub Release
    permissions:
      contents: write
    needs:
      - build-and-stage-release
      - promote-release
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v6
      - name: Create GitHub Release
        uses: ./.github/actions/create-github-release
        with:
          milestone: ${{ needs.build-and-stage-release.outputs.version }}
          token: ${{ secrets.GH_ACTIONS_REPO_TOKEN }}
